---
---

@import "{{ site.theme }}";

header {
  width:770px;
  float:none;
  position:static;
}

section {
  width:770px;
  float:none;
}

footer {
  border-top: 1px dotted gray;
  width:770px;
  float:none;
  position:static;
}
